.wrapper {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #cfecb0;
}

.item {
  background-color: white;
  border: 1px solid black;
  margin-block: 15px;
}
